{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container my-3">
    <div class="row">
        <div class="col-md-3">
            <!-- Sidebar -->
            <nav id="sidebar" class="secondary">
                <div class="list-group text-center">
                    {% for cat in category_list|dictsort:'name' %}
                        {% if cat == category %}
                            <a class="rounded-0 list-group-item list-group-item-action list-group-item-light text-black text-center active" href="{% url 'articleapp:list' cat.name %}">{{ cat.name }}</a>
                        {% else %}
                            <a class="rounded-0 list-group-item list-group-item-action list-group-item-light text-black text-center" href="{% url 'articleapp:list' cat.name %}">{{ cat.name }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </nav>
        </div>

        <div class="col-md-9">
            <!-- Content -->
            <div id="content" class="border-top border-secondary">
                <div class="content_block">
                    <h5 class="pl-2 pb-3 my-2 border-bottom" style="margin-bottom: 3rem;">{{ category.description }}</h5>

                    <div class="d-flex justify-content-between align-items-center mb-3" style="margin-bottom: 3rem;">
                        <!-- 검색창 -->
                        <div class="col-md-4">
                            <div class="input-group">
                                <button class="btn btn-primary" type="button" id="btn_search">검색</button>
                                <input type="text" id="search_kw" class="form-control" placeholder="제목 또는 내용으로 검색" value="{{ kw|default_if_none:'' }}">
                            </div>
                        </div>
                        <!-- 정렬바 -->
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-primary" value="-hits" onclick="handleSortChange(this.value) "style="background-color: grey; color: white;>
                                        <i class="bi bi-bar-chart-line"></i> 🖱
                                    </button>
                                    <button type="button" class="btn btn-primary" value="like" onclick="handleSortChange(this.value)"style="background-color: grey; color: white;>
                                        <i class="bi bi-heart"></i>  🤍
                                    </button>
                                    <button type="button" class="btn btn-primary" value="created_at" onclick="handleSortChange(this.value)"style="background-color: grey; color: white;>
                                        <i class="bi bi-clock"></i> ⌛
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if article_list %}
                        <div class="row row-cols-1 row-cols-md-4 g-4">
                            {% for article in article_list %}
                                <div class="col">
                                    <div class="card shadow">
                                        <a href="{% url 'articleapp:detail' pk=article.pk %}">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ article.title }}</h5>
                                                <div class="d-flex align-items-center">
                                                    <a href="{% url 'likeapp:article_like' pk=article.pk %}">
                                                        <i class="bi bi-heart {% if article.like > 0 %}text-danger{% endif %}"></i>
                                                    </a>
                                                    <span class="ms-1">{{ article.like }}</span>
                                                </div>
                                                <div class="card-text">
                                                    <div class="mb-2" style="font-size: 12px;">{{ article.writer.profile.nickname }}</div>
                                                    <h6 class="hits" style="font-size: 10px;">🖱조회수: {{ article.hits }}</h6>
                                                    <div style="font-size: 10px;">{{ article.created_at }}</div>
                                                </div>
                                                <img src="{{ article.project.image.url }}" class="project-image" alt="">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="text-center">
                            <h1>게시글이 존재하지 않습니다.</h1>
                        </div>
                    {% endif %}

                    {% include 'snippets/pagination.html' with page_obj=page_obj %}

                    <div class="text-center mt-3">
                        <a href="{% url 'articleapp:create' %}" class="btn btn-primary col-3">글쓰기</a>
                    </div>

                    <form id="searchForm" method="get" action="{% url 'articleapp:list' %}">
                        <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
                        <input type="hidden" id="page" name="page" value="{{ page }}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .project-image {
        width: 20px;
        height: 20px;
    }

    #sidebar {
        width: 250px; /* 가로 영역 조절 */
        margin: 0 auto; /* 가운데 위치 */
    }

    #sidebar .list-group {
        margin-bottom: 10px;
    }
</style>

<script>
    // 정렬 기능
    function handleSortChange(sortBy) {
        const url = new URL(window.location.href);
        url.searchParams.set('sort_by', sortBy);
        window.location.href = url;
    }

    // 선택한 정렬 기준을 유지하기 위해 드롭다운 메뉴 초기화
    const sortSelect = document.getElementById('sort');
    const sortByParam = new URLSearchParams(window.location.search).get('sort_by');
    sortSelect.value = sortByParam;
</script>
{% endblock %}
